@media only screen and (max-width: 500px) {
    .about-screen-body-container {
        width: 350px;
        word-break: break-word;
    }
}

.about-container-profile-pic{
    max-width: 340px;
    max-height: 340px;
    border: 5px solid #555;
}